/* General Rules */
* {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mobile-header {
  display: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}


/* General Layout */

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 30%;
  height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.content {
  width: 70%;
  height: 100vh;
  background-color: bisque;
  padding: 10px 16px;
  overflow: auto;
}



/* Detailed Rules for Sidebar */

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar .interactive-area-1 {
  margin-top: auto;
  background-color: #7eddff;
}

.sidebar .side-bar-footer {
  margin-top: auto;
  background-color: #fff67b;
}


/* Detailed Rules for Main Content */

.content .blog li {
  display: block;
  padding: 16px;
  background-color: lightcyan;
  padding: 48px 32px;
  margin: 2px;;
}

.content .blog a {
  font-size: x-large;
}

.content .blog li p, .content .blog li a {
  padding: 8px;
}


/* Responsive Design for Mobile */
@media only screen and (max-width: 768px) {

  :root {
      --sidebar-width: 40%;
  }

  .mobile-header {
      background-color: #f1f1f1;
      position: sticky;
      top: 0;
      max-height: 50px;
      padding: 10px 20px;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 999;
      
  }

  .sidebar {
      position: fixed;
      overflow-x: hidden;
      width: 0;
      transition: .5s;
  }

  .content {
      padding: 0;
      width: 100%;
      transition: .5s;
  }

  .blog {
      padding: 10px 16px;;
  }

  .sidebar.active {
      display: flex;
      width: var(--sidebar-width);
      transition: 0.5s;
  }

  .content.push {
      margin-left: var(--sidebar-width);
  }

  .sidebar > .menu > .logo{
      display: none;
  }


}